<section id="callforpapers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>The workshop will include a call for papers. The papers will be presented in two poster sessions, and selected papers will also be presented as <em>highlighted contributions</em>.</p>
        <h2>Topics of Interest</h2>
        <ul>
          <li>LLM-Driven Autonomous Navigation</li>
          <li>LLM-Augmented Swarm Intelligence</li>
          <li>Applications of multi-uav systems</li>
          <li>Human-UAV Natural Language Interaction</li>
          <li>Fault tolerance in uav systems and swarms</li>
        </ul>
      </div>
    </div>
  </div>
</section>
