<section id="callforpapers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>The workshop will include a call for papers. The papers will be presented in poster session, and selected papers will also be oral presented as <em>highlighted contributions</em>.</p>
        <h2>Topics of Interest</h2>
        <ul>
          <li style="font-size: 20px;">LLM-Driven Autonomous Navigation</li>
          <li style="font-size: 20px;">Platforms, Datasets or Benchmarks relative to UAVs</li>
          <li style="font-size: 20px;">Large language model as a task planner for UAVs </li>
          <li style="font-size: 20px;">Large language model as a motion planner/monitor for UAV control</li>
          <li style="font-size: 20px;">Multimodal large language model for UAV perception tasks</li>
        </ul>
      </div>
    </div>
  </div>
</section>
