<section id="organizers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Organizers</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-offset-2">

        <div class="row">

          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="" target="_blank">
                <img src="img/organizers/wuwenjun.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Wenjun Wu</h3>
              <p class="mb-4"> Beihang University </p>
            </div>
          </div>

          <!-- Person 1 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://colalab.net/" target="_blank">
                <img src="img/organizers/liusi.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Si Liu</h3>
              <p class="mb-4"> Beihang University </p>
            </div>
          </div>

          <!-- Person 2 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://leonhlj.github.io/" target="_blank">
                <img src="img/organizers/huanglinjiang.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Linjiang Huang</h3>
              <p class="mb-4"> Beihang University </p>
            </div>
          </div>

        </div>
        <div class="row">

          <!-- Person 3 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://scholar.google.com/citations?user=jrgMNxEAAAAJ&hl=en&oi=ao" target="_blank">
                <img src="img/organizers/tangzongheng.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Zongheng Tang</h3>
              <p class="mb-4"> Beihang University </p>
            </div>
          </div>

          <!-- Person 4 -->
          

        </div>
      </div>
    </div>
  </div>
</section>
