<section id="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Schedule</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Speaker</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>8:30-8:40</b></td>
              <td>Si Liu</td>
              <td><em>Opening Remarks and Welcome</em></td>
            </tr>
            
            <tr>
              <td><b>8:40-9:10</b></td>
              <td><b>Hongsheng Li (CUHK)</b></td>
              <td>Towards realistic uav vision-language navigation: Platform, benchmark, and methodology</td>
            </tr>
            <tr>
              <td><b>9:10--9:40</b></td>
              <td><b>Hao Su (UC San Diego)</b></td>
              <td><em>Data-Efficient Demonstration Expansion for Generalist Robotic Agent</em></td>
            </tr>
            <tr>
              <td><b>9:40-9:50</b></td>
              <td colspan="2">Oral Talk 1</td>
            </tr>
            <tr>
              <td><b>9:50-10:00</b></td>
              <td colspan="2">Oral Talk 2</td>
            </tr>
            <tr>
              <td>10:00-10:30</td>
              <td colspan="2"><b>Poster Session & Coffee Break</b></td>
            </tr>
            <tr>
              <td><b>10:30--11:00</b></td>
              <td><b>Qi Wu (University of Adelaide)</b></td>
              <td><em>Vision-and-language navigation for UAVs</em></td>
            </tr>
            <tr>
              <td><b>11:00--11:10</b></td>
              <td colspan="2">Oral Talk 3</td>
            </tr>
            <tr>
              <td><b>11:10--11:40</b></td>
              <td><b>Zhedong Zheng (University of Macau)</b></td>
              <td><em>UAVs in Multimedia: Capturing the World from a New Perspective</em></td>
            </tr>
            <tr>
              <td><b>11:40--11:50</b></td>
              <td colspan="2">Oral Talk 4</td>
            </tr>
            
            <tr>
              <td><b>11:50--12:20</b></td>
              <td colspan="2"><b>Expert Panel: Which part of UAV tasks should Large Language Models enhance?</b></td>
            </tr>
            <tr>
              <td>12:20--12:30</td>
              <td colspan="2">Awards & Closing Remarks</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
