<section id="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Schedule</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Speaker</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:30-8:40</td>
              <td>Si Liu</td>
              <td><em>Opening Remarks and Welcome</em></td>
            </tr>
            
            <tr>
              <td>8:40-9:10</td>
              <td>Hongsheng Li (CUHK)</td>
              <td>Towards realistic uav vision-language navigation: Platform, benchmark, and methodology</td>
            </tr>
            <tr>
              <td>9:10--9:40</td>
              <td>Hao Su (UC San Diego)</td>
              <td><em>Data-Efficient Demonstration Expansion for Generalist Robotic Agent</em></td>
            </tr>
            <tr>
              <td><b>9:40-9:50</b></td>
              <td colspan="2"><b>Oral Talk 1</b></td>
            </tr>
            <tr>
              <td><b>9:50-10:00</b></td>
              <td colspan="2"><b>Oral Talk 2</b></td>
            </tr>
            <tr>
              <td>10:00-10:30</td>
              <td colspan="2"><b>Poster Session & Coffee Break</b></td>
            </tr>
            <tr>
              <td>10:30--11:00</td>
              <td>Qi Wu (University of Adelaide)</td>
              <td><em>Vision-and-language navigation for UAVs</em></td>
            </tr>
            <tr>
              <td><b>11:00--11:10</b></td>
              <td colspan="2"><b>Oral Talk 3</b> 
            </tr>
            <tr>
              <td>11:10--11:40</td>
              <td>Zhedong Zheng (University of Macau)</td>
              <td><em>UAVs in Multimedia: Capturing the World from a New Perspective</em></td>
            </tr>
            <tr>
              <td><b>11:40--11:50</b></td>
              <td colspan="2"><b>Oral Talk 4</b></td>
            </tr>
            
            <tr>
              <td><b>11:50--12:20</b></td>
              <td colspan="2"><b>Expert Panel: Which part of UAV tasks should Large Language Models enhance?</b></td>
            </tr>
            <tr>
              <td>12:20--12:30</td>
              <td colspan="2">Awards & Closing Remarks</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
