<section id="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Program</h2>
        <hr class="primary">
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Speaker</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8:25–8:30</td>
              <td>Carlo Pinciroli</td>
              <td><em>Introduction</em></td>
            </tr>
            <tr>
              <td><b>8:30–9:50</b></td>
              <td colspan="2"><b>Invited talks</b></td>
            </tr>
            <tr>
              <td>8:30–8:50</td>
              <td>Luca Carlone (MIT)</td>
              <td>Multi-Robot Perception and Mapping: from Robust Deployment to High-level Scene Understanding and Back</td>
            </tr>
            <tr>
              <td>8:50--9:10</td>
              <td>Giovanni Beltrame (Poly Montreal)</td>
              <td><em>The 4 Ingredients for Practical Robot Swarms</em></td>
            </tr>
            <tr>
              <td>9:10--9:30</td>
              <td>Remo Pillat (MathWorks)</td>
              <td><em>TBD</em></td>
            </tr>
            <tr>
              <td>9:30--9:50</td>
              <td>Joey Durham (Amazon Robotics)</td>
              <td><em>Lifelong Many Robot Systems at Amazon Scale</em></td>
            </tr>
            <tr>
              <td><b>9:50--10:00</b></td>
              <td colspan="2"><b>Break</b> 
            </tr>
            <tr>
              <td><b>10:00--10:45</b></td>
              <td colspan="2"><b>Expert panel: Open Problems Towards Real-World Multi-Robot Systems</b></td>
            </tr>
            <tr>
              <td><b>10:45--11:00</b></td>
              <td colspan="2"><b>Break</b></td>
            </tr>
            <tr>
              <td><b>11:00--12:00</b></td>
              <td colspan="2"><b>Contributions</b></td>
            </tr>
            <tr>
              <td>11:00--11:10</td>
              <td colspan="2">Highlighted poster talk</td>
            </tr>
            <tr>
              <td>11:10--11:20</td>
              <td colspan="2">Lightning poster talks</td>
            </tr>
            <tr>
              <td>11:20--12:00</td>
              <td colspan="2">Poster session</td>
            </tr>
            <tr>
              <td><b>12:00--12:30</b></td>
              <td colspan="2"><b>Lunch</b></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
