<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Speakers</h2>
        <hr class="primary">
      </div>
      <div class="text-center col-lg-offset-2">

        <!-- Top row -->
        <div class="row">

          <!-- Person 1 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://yanshuicheng.info/" target="_blank">
                <img src="img/speakers/yanshuicheng.png" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Shuicheng Yan</h3>
              <p class="mb-4"> National University of Singapore </p>
            </div>
          </div>

          <!-- Person 2 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://www.ee.cuhk.edu.hk/~hsli/" target="_blank">
                <img src="img/speakers/lihongsheng.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Hongsheng Li</h3>
              <p class="mb-4"> The Chinese University of Hong Kong  </p>
            </div>
          </div>

          <!-- Person 3 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://cseweb.ucsd.edu/~haosu/" target="_blank">
                <img src="img/speakers/suhao.jpg" alt="Image" class="img-responsive img-circle">
              </a>
              <h3> Hao Su</h3>
              <p class="mb-4"> UC San Diego </p>
            </div>
          </div>

          <!-- End of top row -->
        </div>

        <!-- Middle row -->
        <div class="row">

          <!-- Person 1 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="http://www.qi-wu.me/" target="_blank">
                <img src="img/speakers/wuqi.png" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Qi Wu</h3>
              <p class="mb-4"> University of Adelaide </p>
            </div>
          </div>

          <!-- Person 2 -->
          <div class="col-md-6 col-lg-3" data-aos="fade" data-aos-delay="100">
            <div class="text-center">
              <a href="https://www.zdzheng.xyz/" target="_blank">
                <img src="img/speakers/zhengzhedong.webp" alt="Image" class="img-responsive img-circle">
              </a>
              <h3>Zhedong Zheng</h3>
              <p class="mb-4"> University of Macau </p>
            </div>
          </div>

          <!-- End of middle row -->
        </div>
        

      </div>
</section>
